<h2> <img src="../assets/pic.png" width="40px" height="40px;" />   Welcome to Angular </h2>
<hr/>
<br/><br/>
<div>
     <table style="width: 25%;">
            <tr>
              <td>
                   Employee Id
              </td>
              <td>
                   {{ eid }}
              </td>
            </tr>
            <tr>
              <td>
                   Employee Name
              </td>
              <td>
                 {{ ename }}
              </td>
            </tr>
            <tr>
              <td>
                   Employee Job
              </td>
              <td>
                 {{ job }}
              </td>
            </tr>
            <tr>
              <td>
                   Employee Salary
              </td>
              <td>
                  {{ salary }}
              </td>
            </tr>
            <tr>
              <td>
                   Employee Dept
              </td>
              <td>
                   {{ dept }}
              </td>
            </tr>
     </table>


</div>
