<!-- <h1>
     1st Demo project in Angular
</h1>
<hr/>

<h1>Welcome to  {{uname}}</h1>

<div style="border:2px solid gray; width:300px; padding : 5px; border-radius: 10px;">
  <h3>User Details</h3>
  User Name  : {{uname}}  <br/>
  User Email  : {{email}}  <br/>
  User Age  : {{age}}  <br/>
  Is Valid User  : {{isValidUser}}  <br/>
</div>
<hr/>



<app-technology></app-technology>
<hr/>


<app-products></app-products>
<hr/>

<app-demopage></app-demopage>
<hr/> -->


<!-- <app-binding></app-binding> -->


<!-- <h1>Component Communication in Angular Application</h1>
<hr/>

Select Location:
<select [(ngModel)]="selectedLoc">
     <option>Hyd</option>
     <option>Pune</option>
     <option>Mumbai</option>
     <option value="">All Locations</option>
</select>
<br/><br/><br/> 

<app-filter-options (onLocationChanged)="updateLocation_parent($event)"></app-filter-options>
<hr/> -->

<!-- <h1>Content projection - ng-content in Angular Application</h1>
<hr/>
<app-dept-list [location]="selectedLoc">
     <p>
         Department Details - Located in Hyderabad
     </p>
</app-dept-list> -->



<!-- <h3 style="text-align: center;">Communication in angular</h3>
<hr/>

<app-sort-options (onSortChanged)="sort_parent($event)" (onAnchorClicked)="aclick_parent()">
</app-sort-options>
<hr/>

<app-employee-list [sorting]="selectedSort">
     <p>   Employee Details - sorting by {{selectedSort}}    </p>
     <p footer>  Footer Content : Employee Details sorted by {{ selectedSort }}  </p>
</app-employee-list> -->

<!-- <app-demo></app-demo> -->


<!-- 23 dec -->

<!-- customer pipe example -->
<!-- <app-custompipe></app-custompipe> -->

<!-- slice pipe example  -->
 <!-- <app-slicepipe></app-slicepipe> -->


 <!-- range pipe example -->
 <!-- <app-rangepipe></app-rangepipe> -->



 <!-- Day 5 -->

 <!-- <app-rx-js></app-rx-js> -->

 <!-- <app-demo1></app-demo1> -->
 

 <app-api-crud></app-api-crud>

